* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
.page {
  padding-top: 100px;
}
h1 {
  color: #102a42;
  text-align: center;
  font-weight: bold;
}
h1:before {
  position: absolute;
  top: 155px;
  left: 915px;
  content: "";
  width: 75px;
  height: 4px;
  background-color: #c59d5f;
}
.buttons {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 80px;
}
.buttons a {
  text-decoration: none;
  color: #c59d5f;
  border: 3px solid #c59d5f;
  padding: 5px 20px;
  border-radius: 10px 10px;
  margin-right: 10px;
  transition: 0.3s;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
.buttons a:hover {
  background-color: #c59d5f;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.col-md-6 > div > div {
  display: flex;
}
.col-md-6 > div > div > .img {
  flex-grow: 1;
  width: 225px;
  height: 150px;
}
.img {
  margin-right: 15px;
}
.img img {
  border: 4px solid #c59d5f;
  border-radius: 10px 10px;
  width: 225px;
  height: 150px;
}
.info h3 {
  color: #102a42;
  font-size: 16px;
  font-weight: bold;
  border-bottom: dashed 1px gray;
  padding-bottom: 8px;
  letter-spacing: 4px;
}
.info h3 span {
  color: #c59d5f;
}
.info p {
  padding-top: 8px;
  color: #617d98;
}
.col-md-6 > div > div > .info {
  flex-grow: 2;
}
.list-one > div {
  margin-bottom: 20px;
}
.list-two > div {
  margin-bottom: 20px;
}
